[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Aeonic_CI_admin
	read = group Registered Users
	read = group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group Replication_SELN_ECN_DO_NOT_REMOVE
	read = group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group SEKA_ECN_DEPRECATED_PLEASE_REMOVE_FROM_PROJECT_CONFIG
	create = group Aeonic_CI_admin
	createTag = group Aeonic_CI_admin
	forgeCommitter = group Aeonic_CI_admin
	push = group Aeonic_CI_admin
	pushMerge = group Aeonic_CI_admin
	label-Code-Review = -2..+2 group Aeonic_CI_admin
	label-Verified = -1..+1 group Aeonic_CI_admin
	rebase = group Aeonic_CI_admin
	submit = group Aeonic_CI_admin
        label-SQ-Quality-Gate = -1..+1 group Aeonic_CI_admin
[label "SQ-Quality-Gate"]
     function = AnyWithBlock
     value = -1 SonarQube Quality Gate Failed
     value =  0 No Results
     value = +1 SonarQube Quality Gate Passed
     defaultValue = 0
[access "^refs/changes/master*"]
	push = group Aeonic_CI_admin
[access "^refs/for/d.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group Registered Users
[access "^refs/for/refs/heads/master.*"]
	create = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Registered Users
[access "^refs/heads/b.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "^refs/tags/b.*"]
	create = group Registered Users
	createTag = group Registered Users
	push = group Registered Users
[plugin "data-owner"]
	DataOwner = earujos
	DataOwnerDepartment = BCSS NM Eng EE Development Tools
